<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoftwareZator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SoftwareZator.My.MySettings>
            <setting name="Langue" serializeAs="String">
                <value />
            </setting>
            <setting name="Nom_Utilisateur" serializeAs="String">
                <value />
            </setting>
            <setting name="Société" serializeAs="String">
                <value />
            </setting>
            <setting name="Emplacement_Project_Par_Defaut" serializeAs="String">
                <value />
            </setting>
            <setting name="Ouvrir_Page_De_Démarrage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Verifier_Mise_A_Jours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Afficher_La_Griller" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Aimentation_Intelligente" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Smart_Tags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Réduire_Panneau_Lateral_WindowsDesigner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Réduire_Panneau_Lateral_FunctionEditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Barre_Etat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimiser_Ruban" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Barre_Acces_Rapide_Dessous" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Activer_Reconnaissance_Vocale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Numerotation_Lignes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Colorisation_Syntaxe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Activer_Aero" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Suivre_Souris_Regle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QAT_Ouvrir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QAT_Enregistrer_Sous" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QAT_Enregistrer_Tout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QAT_Fermer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QAT_Copier" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QAT_Coller" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QAT_Couper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QAT_Annuler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QAT_Retablir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QAT_Generer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Edition" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Activer_Significations_Sonores" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autoriser_Envoyer_Informations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autoriser_Donnees_Reconnaissances_Vocale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autoriser_Erreur_Generation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Afficher_Zoom_Bar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Correcteur_Orthographe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ecran_Demarrage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Temps_Pause" serializeAs="String">
                <value>True</value>
            </setting>
        </SoftwareZator.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0"/></startup></configuration>